.buttonSubmit {
	background-color: #f99746 !important;
	color: white !important;
	margin-left: 12px !important;
	margin-right: 12px !important;
}

.buttonNext {
	color: #f99746 !important;
	background-color: white !important;
}

.buttonPrevious {
	color: black !important;
	background-color: white !important;
}

.buttonCancel {
	background-color: black !important;
	color: white !important;
	margin-left: 12px !important;
	margin-right: 12px !important;
}

.centerElementSpan {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* floating btn */
.tcBtn {
	position: relative;
	padding: 0 !important;
	background-color: #f99746 !important;
	height: 38px;
	width: 38px;
	color: #fff !important;
	font-size: 22px !important;
	border-radius: 100% !important;
	text-align: center !important;
	top: 10vh;
	right: 20px;
	z-index: 1 !important;
	float: right;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
