.btn_tambah {
    background-color: #333d84 !important;
}

.btn_modal {
    justify-content: center;
}

.input {
    background-color: #f4f5ff !important;
    border-color: none;
}

.labels {
    display: block;
}

.FieldReg {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.styleError {
    width: 50%;
    display: block;
    font-size: 10px;
    text-align: center;
    transform: translate(50%, 30%);
    color: red;
}

.iconEye {
    position: absolute;
    top: 65%;
    right: 5%;
}

.iconEye:hover {
    color: #00fcb6;
    cursor: pointer;
}