#TableKontenSMMAdmin {
	font-size: 12px !important;
}

#TableKontenSMMAdmin td:nth-child(1) {
	/* padding: 0px !important; */
	width: 10% !important;
}
#TableKontenSMMAdmin td:nth-child(2) {
	/* padding: 0px !important; */
	width: 20% !important;
}
#TableKontenSMMAdmin td:nth-child(3) {
	/* padding: 0px !important; */
	width: 10% !important;
}
#TableKontenSMMAdmin td:nth-child(4) {
	/* padding: 0px !important; */
	width: 10% !important;
}
#TableKontenSMMAdmin td:nth-child(5) {
	/* padding: 0px !important; */
	width: 10% !important;
}
#TableKontenSMMAdmin td:nth-child(6) {
	/* padding: 0px !important; */
	width: 20% !important;
}
#TableKontenSMMAdmin td:nth-child(7) {
	/* padding: 0px !important; */
	width: 5% !important;
}
#TableKontenSMMAdmin td:nth-child(8) {
	/* padding: 0px !important; */
	width: 5% !important;
}

#TableKontenSMMAdmin td:nth-child(3):first-line {
	color: #f8f8fb !important;
	opacity: 0;
	display: none !important;
	user-select: none !important;
	color: transparent !important;
}
#TableKontenSMMAdmin td:nth-child(4):first-line {
	color: #f8f8fb !important;
	opacity: 0;
	display: none !important;
	user-select: none !important;
	color: transparent !important;
}
