.button {
	background-color: #e7883a !important;
	color: white !important;
}

.buttonTambahBatch {
	border: none !important;
	border-radius: 4px !important;
	margin-left: 30px !important;
	padding: 6px 8px;
	background-color: #e7883a !important;
	color: #fff;
	text-transform: uppercase;
}

.txtbtn {
	font-size: 14px;
	margin-bottom: 10px !important;
}

.buttonSummarySMV {
	background-color: #073030 !important;
	color: white !important;
	width: 100% !important;
}

.headText {
	text-align: center !important;
	margin-left: 200px !important;
	font-size: 20px;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #888;
}

.text {
	color: #888;
	font-weight: bold;
	margin-bottom: 50px;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: rgb(231, 136, 58) !important;
	padding: 4px 20px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
	width: 100% !important;
}

.btn_nope {
	background-color: red !important;
	padding: 4px 20px !important;
	color: #fff !important;
	cursor: pointer;
	width: 100% !important;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}
