.cardBoxShadow {
  box-shadow: 0px 4px 20px rgba(168, 208, 218, 0.5);
}

.profilePicture {
  width: 118px;
  height: 118px;
}

.profileHeadWrapper {
}

.profileRole,
.profileName,
.profileMail,
.buttonGantiPassword,
.profilePasswordTitle {
  font-family: DM Sans;
  line-height: 1.2em;
}

.profileRole {
  font-size: 16px;
  font-weight: 700;
}

.profileName {
  font-size: 28px;
  font-weight: 700;
}

.profileMail {
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
}

.changePasswordCard label {
  font-weight: 700 !important;
  color: #40434d !important;
}
.buttonGantiPassword {
  background-color: #406d96 !important;
  color: white !important;
  width: 252px;
  transition: background-color 2s ease;
}

.buttonGantiPassword:hover {
  background-color: #375f85 !important;
}

.profilePasswordTitle {
  color: #2f3a56;
  font-size: 18px;
  font-weight: bold;
}

/* ================= ALERT STYLING START ==============  */
.alertOn {
  position: fixed;
  top: 18px;
  left: 310px;
  z-index: 2000;
  width: 600px;
}

.alertOff {
  display: none;
}

@media (max-width: 1060px) {
  .alertDifferentPasswordOn {
    width: 400px;
    left: 50%;
    transform: translate(-50%);
  }
}
/* ================= ALERT STYLING END ==============  */
