.headText {
	text-align: center !important;
	margin-left: 148px !important;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #777;
}

.text {
	color: #777;
	font-weight: bold;
	margin-bottom: 50px;
}

.input_alasan {
	text-align: center;
	height: 150px;
	width: 50%;
	display: flex;
	background-color: #f4f5ff;
	border: none !important;
	margin-bottom: 6% !important;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: #e15050 !important;
	padding: 10px 40px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 18px !important;
	margin-bottom: 10px !important;
}
