.title{
    color: #2C3780;

}

.confirm{
    color: #2C3780;
}

.btn_cancel{
    color: #2C3780;

}

.btn_confirm{
    color: #fff !important;
    background-color: #2C3780 !important;
}

.wrapper_top{
    flex-direction: column;
    margin-bottom: 12%;
}

.wrapper_middle{
    margin-bottom: 12%;
}