.wrapExe{
    background-color: #f4f5ff;
}

.total_card{
    color: #2C3780
}

.logo_bakti{
    width: 63px;
    height: 39px;
    margin: 20px 40px 20px 40px;
}

.text_header{
    color: #2C3780;
    margin: 0rem 1rem 0 1rem;
}

.row_nav{
    display: flex;
    justify-content: space-between;
    margin-right: 0 !important;
}

.headlist{
    display: flex !important;
    width: 80% !important;
    padding-left: 5% !important;
    align-items: center !important;
    justify-content: start !important;
}

.headExe{
    display: flex;
    width: 80% !important;
    margin-right: 0 !important;
    
}

.btnBack{
    /* margin-top: -1% !important; */
    margin-right: 5% !important;
    /* padding-left: 4% !important; */
    margin-left: 30px !important;
}

.profile{
    margin-top: -3% !important;
}

.ellipse{
    position: absolute;
    top: 5px;
    right: -1px;
    width: 50%;
}

.wrapper_logo{
    display: flex;
    padding-left: 1.4%;
    width: 40%;

}

/* .wrapper_profile{
    display: flex;
    align-items: center;
    width: 10%;
    cursor: pointer;
    transform: translate(190%,0);
    float: right;
    margin: 0 0 0 43%;
}

.wrapper_profile .imge{
    cursor: pointer;
    color: tomato !important;
}

.wrapper_profile .imge:hover{
    cursor: pointer;
    color: tomato !important;
} */

.btnLogout{
    background-color: lightcoral !important;
    margin: 0 0 0 30px;
    border-radius: 20px !important;
    transform: translate(-110%, 120%);
}

.dropdown_menu{
    transform: translate3d(-103px, 50px, 0px) !important;
}

.wrapper_button{
    padding: 0 !important;
}

.wrapper_right{
    margin-right: 0 !important;
}

.row_right{
    margin-right: 0 !important;
}