.title {
    color: #2C3780;
    font-weight: bold;
    font-size: 26px;
}

.sub_title {
    color: black;
}

.pad {
    display: block;
    width: 100%;
    text-align: left;
}

.textRow {
    width: 100%;
    display: block;
    font-size: 16px;
    color: black;
    padding: 20px;
    margin: 0 0 0 48px;
    text-align: left;
}

.btnAi {
    color: #222 !important;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.09) !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 12px !important;
    font-weight: bold;
    padding: 6px 10px !important;
    margin: 0 20px 0 60px;
}

.btnAi:hover {
    background-color: rgba(44, 55, 128, 1) !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    color: #fff !important;
}

.btnBTS {
    color: #222 !important;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.09) !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 12px !important;
    font-weight: bold;
    padding: 6px 10px !important;
    margin: 0 20px 0 10px;
}

.btnBTS:hover {
    background-color: rgba(174, 50, 133, 1) !important;
    border: 2px solid rgba(0, 0, 0, 0.2) !important;
    color: #fff !important;
}

.btn_cancel {
    cursor: pointer;
}

.titRow {
    display: block !important;
    padding: 20px;
    text-align: left;
}

.tlRow {
    display: block;
    color: #2C3780;
    font-weight: bold;
    font-size: 22px;
}

.title_sub {
    text-align: left;
    margin-left: 6.4%;
}

.status {
    display: block;
    color: #2C3780;
    font-weight: bold;
    font-size: 14px;
}

.latitude {
    color: #2C3780;
    font-weight: bold;
    font-size: 14px;
}

.longitude {
    color: #2C3780;
    font-weight: bold;
    font-size: 14px;
}

.inputPop {
    width: 100%;
    display: block;
}

.inputPen {
    width: 100%;
    display: block;
    margin: 10px 0 0 0;
}

.inputSur {
    width: 100%;
    display: block;
    margin: 10px 0 0 0;
}

.labTug {
    display: block;
    font-weight: bold;
    color: #999;
    text-align: left;
    font-size: 12px;
    padding: 4px 0 0 0;
    margin: 0 0 0 50px;
}

.FieldTug {
    border: 0;
    outline: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    width: 87%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.4);
}

.FieldTug:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.title_subtitle {
    color: #000;

}

.btnConfirm {
    background-color: #2C3780 !important;
    width: 16%;
    padding: 4px 0px !important;
    border-radius: 12px !important;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold !important;
}

.btnCancel {
    width: 16%;
    padding: 4px 40px !important;
    color: #999 !important;
    cursor: pointer;
    font-weight: bold !important;
}

.btnCancel:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.wrapper_tanggal {
    margin-left: 6.4%;
}

.wrapper_tanggal_data {
    display: flex;
}

.jenis_survey_text {
    color: #000;
    font-weight: bold;
}

.tanggal_text {
    color: #000;
    font-weight: bold;
}

.tanggal_text_sub {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
}

.block {
    display: block;
}

.wrapper_btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    justify-content: center;
}

.title_subtitle {
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 18px;

}

.label_jenis_survey_ai {
    text-align: center;
    width: 40%;
    height: 32px;
    background-color: #485eeb;
    border-radius: 10px;
}

.label_jenis_survey_bts {
    text-align: center;
    width: 40%;
    height: 32px;
    background-color: #C42127;
    border-radius: 10px;
}

.label_jenis_survey_text {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px !important;
}

.wrapper_jenis_survey {
    text-align: left;
}

.btnConfirm {
    background-color: #2C3780 !important;
    width: 16%;
    color: #fff !important;
    cursor: pointer;
    font-weight: bold !important;
}

.btnCancel {
    width: 16%;
    /* margin-right: 10px; */
    color: #999 !important;
    cursor: pointer;
    font-weight: bold !important;
}

.btnCancel:hover {
    color: rgba(44, 55, 128, 1) !important;
}

.jenis_survey_text {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 32px;
    background-color: #485eeb;
    border-radius: 10px;
}

.jenis_survey_textbts {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 25%;
    height: 32px;
    background-color: #E57B7B;
    border-radius: 10px;
}