.filter{
    background: #D9DBF9 !important;
    font-size: 0.8rem !important;
    width: 70% !important;
}

.label_filter{
    font-size: 0.8rem;
}

.option:not(:checked){
    background-color: #FFF !important;
}