.dropdown-menus.show {
	margin-top: 10px;
	overflow-y: auto !important;
	width: 100% !important;
	text-align: left !important;
	max-height: 200px !important;
	border-radius: 4px !important;
}

.dropdown-item.active {
	background-color: #dcdcdc !important;
}

.modal-open{
	overflow-y:	auto !important;
}

.DownloadTableXLSSMRFI {
	border-width: 0 !important;
    height: 31px;
    background-color: rgb(231, 136, 58) !important;
    padding: 0px 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
}

.iframe_doc {
	width: 100%;
	height: 500px;
}