.profileMenu {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #2f3a56;
}

.profileDropdown {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  /* Text Light Grey */

  color: #a5a5a5;
}

.notifikasiTitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  color: #2f3a56;
}

.lihatSemua {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  text-align: right;

  /* Dark Blue */

  color: #406d96;
}

.notificationTitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  /* Text Dark Grey */

  color: #40434d;
}

.notificationDate {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */

  /* Text Light Grey */

  color: #a5a5a5;
}
