.btn-collapse{
    width: 100%;
    margin-bottom: 10px;
    background-color: #e8ffed !important;
    color: #535454 !important;
    border-color: #2c3280 !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.btn-title{
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    float: left;
    text-align: left;
}
.btn-icon{
    width: 10%;
    float: right;
    text-align: right;
}
.btn-collapse:hover{
    background-color: #f9ffe0;
}

.jawaban{
    text-align: left;
    color: black;
}