.headText {
	text-align: center !important;
	margin-left: 140px !important;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #888;
}

.text {
	color: #888;
	font-weight: bold;
	margin-bottom: 50px;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: #49adad !important;
	padding: 10px 40px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 18px !important;
	margin-bottom: 10px !important;
}
