.header-wrapper {
    border-bottom: 2px black solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-logo {
    width: 9.5rem;
    height: 5.625rem;
    margin: 5px 0;
}

.wrapper-right {
    display: flex;
    justify-content: space-between;
}

.breadcrumb-class {
    font-size: 1.2em !important;
    font-weight: 700 !important;
}

.icon-bell {
    height: 15px;
    width: 15px;
}

.wrapper_logo {
    display: flex;
    padding-left: 1.4%;
    width: 40%;
}

.text_header {
    color: #2C3780;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem;
}

.text_headermobile {
    color: #2C3780;
    font-weight: bold;
    font-size: 1.1rem;
}

.row_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 0 !important;
}

.notif {
    position: relative;
    margin-right: 20%;
    margin-top: 10%;
}

.ellipse {
    position: absolute;
    top: 5px;
    right: -1px;
    width: 40%;
    margin-right: 5px;
}

.bell {
    width: 25px;
}

.btnNotif {
    background: none;
    border: none;
}

.btnNotif:focus {
    outline: none;
}

.circleBlue {
    background: #B5DAEF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.circleRed {
    background: #E57B7B;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.circleGreen {
    background: #ACEB8F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}