.card_dashboard{
    padding: 20px;
}

.line_ai{
    margin: 5px 0px;
    width: 12px;
    height: 120px;
    border-left: 8px solid #2C3780;
    display: inline-block;
    margin-left: 2px;
}

.line_ai::before{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    border-left: 10px solid #2C3780;
    bottom: 0;
    left: 0;
    transform: translate(-0%);
}

.line_bts{
    margin: 5px 0px;
    width: 12px;
    height: 120px;
    border-left: 8px solid #E57B7B;
    display: inline-block;
    margin-left: 2px;
}

.line_bts::before{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    border-left: 10px solid #E57B7B;
    bottom: 0;
    left: 0;
    transform: translate(-0%);
}

@media (max-width: 576px) {
    .total_cardAI {
        border: none !important;
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 90%;
        height: 25%;
        margin: 1rem;
        border-radius: 10px !important;
        border: none !important;
        border-left: 8px solid #2C3780 !important;
    }

    .total_cardBTS {
        border: none !important;
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 90%;
        height: 25%;
        margin: 1rem;
        border-radius: 10px !important;
        border-left: 8px solid #E57B7B !important;
    }

    .title{
        color: #40434D;
        text-align: center;
        display: block;
        font-size: 16px;
    }

    .jumlah{
        color: #2C3780;
        font-size: 45px;
        line-height: 61px;
        display: inline;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .total_cardAI {
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 90%;
        height: 25%;
        margin: 1rem 2rem 2rem 0;
        border-radius: 10px !important;
        border: none !important;
        border-left: 8px solid #2C3780 !important;
    }

    .total_cardBTS {
        border: none !important;
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 90%;
        height: 25%;
        margin: 1rem 2rem 2rem 0;
        border-radius: 10px !important;
        border: none;
        border-left: 8px solid #E57B7B !important;
    }

    .title {
        color: #40434D;
        text-align: center;
        display: block;
        font-size: 18px;
    }

    .jumlah {
        color: #2C3780;
        font-size: 45px;
        line-height: 61px;
        display: inline;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 769px) {
    .total_cardAI {
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 100%;
        height: 25%;
        margin: 1rem 2rem 2rem 0;
        border: none !important;
        border-radius: 10px !important;
        border-left: 8px solid #2C3780 !important;
    }

    .total_cardBTS {
        align-items: center;
        display: flex;
        flex-direction: row !important;
        width: 100%;
        height: 25%;
        margin: 1rem 2rem 2rem 0;
        border-radius: 10px !important;
        border: none;
        border-left: 8px solid #E57B7B !important;
    }
    .title{
        color: #40434D;
        text-align: center;
        display: block;
        font-size: 1.25rem;
    }

    .jumlah{
        color: #2C3780;
        line-height: 30px;
        display: inline;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
}

.text{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.card_dashboardAju{
    padding: 10px !important;
    width: 59% !important;
}

.card_dashboardSur{
    padding: 10px !important;
    margin: 0 0 0 20px;
}

.card_dashboardIss{
    padding: 10px !important;
    margin: 0 0 0 20px;
}

.card_dashboardBTSaju{
    padding: 10px !important;
}

.card_dashboardBTSsur{
    padding: 10px !important;
}

.card_dashboardBTSIss{
    padding: 10px !important;
}

.wrapper_title{
    width: 100%;
}

.wrapper_jumlah{
    width: 100%;
}

.wrapper_profile{
    display: block;
    width: 10px;
}
