.pageFont {
  font-family: DM Sans;
  font-style: normal;
}

.pageTitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-transform: capitalize;
  /* identical to box height */
  color: #2f3a56;
}
