.containermap {
	width: 100%;
	height: 92vh;
	margin-top: 8vh;
}

.toolbox {
	z-index: 1;
	position: absolute;
	width: 25%;
	min-width: 10rem;
	top: 10%;
	left: 5.5%;
	display: block;
}
.baseMap {
	z-index: 1;
	position: absolute;
	width: 10%;
	min-width: 10rem;
	top: 10%;
	left: 31%;
	display: block;
}

.cardTable {
	z-index: 1;
	position: absolute;
	width: 93.5%;
	min-width: 10rem;
	bottom: 1vh;
	left: 5.5%;
	display: block;
}

.toolboxheader {
	width: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.edit {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
}

.checkbox {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.listSugestLokasi {
	margin-bottom: 5px;
}
.listSugestLokasi:hover {
	background-color: rgb(241, 241, 241);
	/* font-weight: bold; */
	cursor: pointer;
	margin-bottom: 5px;
}

.headText {
	text-align: center !important;
	font-size: 20px;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #888;
}

.text {
	color: #888;
    font-weight: bold;
    margin-top: 30px;
	margin-bottom: 45px;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: rgb(231, 136, 58) !important;
    padding: 4px 20px !important;
    margin-left: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}

.btn_confirm_xls {
	background-color: rgb(231, 136, 58) !important;
    padding: 0px 0px !important;
    margin-left: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}

.btn_reject {
	background-color: red !important;
    padding: 4px 20px !important;
    margin-right: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}
