.headText {
	text-align: center !important;
	margin-left: 128px !important;
	font-size: 20px;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #888;
}

.text {
	color: #888;
	font-weight: bold;
	margin-bottom: 50px;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: rgb(231, 136, 58) !important;
	padding: 4px 20px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}

.btn_close{
	background-color: #073030 !important;
	padding: 4px 20px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}
