.wrap-content {
	text-align: center;
	/* margin-right: 70px; */
}

.title-content {
	margin-top: 10px;
	color: #808080;
	font-size: 15px;
}

.total-content {
	margin-top: 10px;
	font-size: 30px;
	color: #49adad;
	font-weight: bold;
	line-height: 37px;
}

.total-penyedia {
	color: #16c046;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}
.nama-penyedia {
	font-size: 17px;
	/* align-items: flex-start !important; */
	text-align: start !important;
	/* font-weight: bold; */
}

.wrapper-penyedia {
	/* margin-right: 30px; */
	margin-bottom: 10px !important;
}

@media screen and (max-device-width: 991px) {
	.wrap-content {
		margin-top: 40px;
	}
}

.dropdown-kategori {
	width: 100% !important;
	display: flex !important;
	text-align: left !important;
	justify-content: space-between !important;
	flex-direction: row !important;
	align-items: center !important;
	margin-top: 0px;
	border-radius: 20px !important;
	color: #2c3280 !important;
	background-color: #f8f9fa !important;
	border-color: #2c3280 !important;
	padding-left: 24px !important;
	overflow-x: auto !important;
}
.dropdown-menus.show {
	margin-top: 10px;
	overflow-y: auto !important;
	width: 100% !important;
	text-align: left !important;
	max-height: 200px !important;
	border-radius: 15px !important;
}

.dropdown-item.active {
	background-color: #dcdcdc !important;
}
