.title{
    color : #333d84;
    font-size: 25px;
    font-weight: bold;
}

.title_sub{
    color : #333d84;
    font-size: 18px;
    font-weight: bold;
}

.row{
    display: block;
}

.row_detail{
    display: flex;
    justify-content: space-between;
}

.row_top{
    padding: 3% 2%;
}

.card1{
    padding: 2% 5%;
    border: none !important;
    border-radius: 8px !important;
}

.card2{
    /* padding: 0% 2%; */
    border: none !important;
    border-radius: 8px !important;
}

.wrapper_title_sub{
    padding-left: 1.4%;
}

.row_below{
    margin-top: 15px;
    display: flex;
}

.wrapper_left{
    display: flex;
    align-items: center;
}

.title_titik_lokasi_text{
    margin: 0 !important;
}

.detail_titik_lokasi{
    background-color: #D9DBF9;
    color: #333d84;
    padding: 3%;
    align-items: center;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
    height: 3px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.detail_titik_lokasi_text{
    margin: 0 !important;
}

.detail_titik_lokasi_text_data{
    margin: 0 !important;
    color: #000;
}

.row_data{
    padding-left: 2%;
}

.wrapper_collap{
    display: flex;
    justify-content: space-between;
}

.title_titik_lokasi{
    margin-right: 15px;
}

.desc{
    margin-left: 3.6%;
}

.row_data_collapse{
    display: flex;
    justify-content: space-between;
}

.collapse_btn{
    float: right;
}

.bordered{
    border-bottom: 1px solid grey;
    width: 100%;
}

.btn_validasi{
    background-color: #333d84 !important;
    color: #fff !important;
    margin-right: 10px;
    padding: 6px 40px !important;
}

.row_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container_validasi{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_bottom{
    width: 100%;
    padding: 2%;
    border: none !important;
    border-radius: 8px !important;
}

.btn_tandai{
    background-color: #C42127 !important;
    color: #fff !important;
    margin-right: 10px;
    padding: 6px 40px !important;
}

.sectionOne{
    font-size: 18px;
    padding: 10px 10px 10px 0;
    font-weight: 600;
}

.data_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}

.image{
    width: 100%;
    height: 100%;
}

.image_capt{
    font-weight: bold;
    font-size: 14px;
}

.row_detailAI{
    color: #333d84 !important;
    font-weight: bold !important;
}