.card {
    height: fit-content;
    /* max-height: 75vh !important; */
    border: none ! important;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

.wrapperContent{
    height: 87vh !important;
}

.title{
    margin : 2rem 1rem 1rem 1rem;
    font-weight: bold;
    color: #2a399c;
}

.wrapperInnerContent{
    overflow-y: auto;
    height: 77vh;
}