.dropdown-menus.show {
	margin-top: 10px;
	overflow-y: auto !important;
	width: 100% !important;
	text-align: left !important;
	max-height: 200px !important;
	border-radius: 4px !important;
}

.dropdown-item.active {
	background-color: #dcdcdc !important;
}

.btnApproveVendor {
	border: 0px solid black !important;
	background-color: #63af63 !important;
	border-radius: 15px !important;
	padding: 5px 10px 5px 10px !important ;
	font-size: 11px !important;
	width: 100px !important;
	text-align: center !important;
	margin-right: 3px !important;
	margin-top: 5px !important;
}
.btnDeclineVendor {
	border: 0px solid black !important;
	background-color: #ff4a4a !important;
	border-radius: 15px !important;
	padding: 5px 10px 5px 10px !important ;
	font-size: 11px !important;
	width: 100px !important;
	text-align: center !important;
	margin-top: 5px !important;
}
