.wrapperAction {
	min-width: 20%;
	max-width: 100%;
	display: flex;
	/* float: right; */
	/* align-items: center; */
	/* justify-content: space-around; */
}

.textDownload {
	color: #000 !important;
}

.DownloadTableXLS {
	color: #556ee6 !important;
	background-color: #fff !important;
	border-width: 0 !important;
	height: 35px;
}
