.menu_item {
    font-size: 12px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_button {
    background-color: #333d84 !important;
    color: white;
}

.tab_menu {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.selected {
    color: #333d84;
    margin-right: 25px;
    border-bottom: 5px solid #333d84;
    cursor: pointer;
}

.selection {
    color: grey;
    margin-right: 25px;
    cursor: pointer;
}