.headText {
	text-align: center !important;
	font-size: 20px;
}

.title {
	color: #333;
	font-weight: bold;
	text-transform: uppercase;
}

.sub_title {
	color: #888;
}

.text {
	color: #888;
    font-weight: bold;
    margin-top: 30px;
	margin-bottom: 45px;
}

.btn_cancel {
	cursor: pointer;
}

.wrapper {
	margin-bottom: 50px;
	display: block !important;
}

.btn_confirm {
	background-color: rgb(231, 136, 58) !important;
    padding: 4px 20px !important;
    margin-left: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}

.btn_confirm_xls {
	background-color: rgb(231, 136, 58) !important;
    padding: 0px 0px !important;
    margin-left: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}

.btn_reject {
	background-color: red !important;
    padding: 4px 20px !important;
    margin-right: 5px !important;
	color: #fff !important;
	cursor: pointer;
	font-size: 14px !important;
	margin-bottom: 10px !important;
}