.dashboard-container{
    min-height: auto;
    display: grid;
    grid-template-areas: 
        'sidebar header'
        'sidebar main'
    ;
    grid-template-columns: 0.65fr 2fr;
    grid-template-rows: 0.2fr 2fr;
}

header{
    padding: 0 10px 0 0;
    margin: 0 ;
    grid-area: header;
}

main{
    height: 100%;
    padding: 0 10px 0 0;
    margin: 0;
    grid-area: main;
}

.dashboard-main{
    margin-bottom: 10px;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'ticket'
    'chart'
    'table'
    'tayang'
    'terdaftar'
    'disetujui'
    ;
    grid-auto-columns: minmax(1fr, auto);
}

aside{
    height: 100%;
    padding: 0;
    margin: 0 15px;
    grid-area: sidebar;
}

.dashboard-wrapper{
    margin: 15px 5px;
    display: flex;
    justify-content: space-between;
}

.content-wrapper{
    width: 100%;
    padding: 5px;
}

.content-card-wrapper{
    display: flex;
    justify-content: space-between;
}

.new-content-wrapper{
    padding-left: 0 !important;
}

.content-title{
    text-align: left;
}

.img-icon{
    width: 100px;
    height: 50px;
}

.ticket{
    grid-area: ticket;
}

.pending{
    grid-area: pending;
}

.content{
    grid-area: konten;
}

.icon-notif{
    margin-right: 1em; 
 }

header{
    padding: 0 10px 0 0;
    margin: 0 ;
    grid-area: header;
}

main{
    height: 100%;
    padding: 0 10px 0 0;
    margin: 0;
    grid-area: main;
}

.dashboard-main{
    margin-bottom: 10px;
    height: 100%;
    display: grid;
    grid-template-areas: 
    'ticket'
    'chart'
    'table'
    'tayang'
    'terdaftar'
    'disetujui'
    ;
    grid-auto-columns: minmax(1fr, auto);
}

aside{
    height: 100%;
    padding: 0;
    margin: 0 15px;
    grid-area: sidebar;
}

.dashboard-wrapper{
    margin: 15px 5px;
    display: flex;
    justify-content: space-between;
}

.title-faq{
    color: #2c3280;
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.faq-container{
    margin-top: 15px;
}

.card-faq{
    margin-top: 10px;
    border-radius: 15px !important;
    box-shadow: 2px 2px gainsboro !important;
    padding-bottom: 25px;
}

.search-bar{
    border-radius: 15px !important;
}

.search-bar-div{
    margin-top: 15px;
    width: 30%;
    border-radius: 15px !important;
}
