.object {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  bottom: 30vh;
}

.object2 {
  animation: scale 3s linear infinite;
  position: absolute;
  bottom: -20vh;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: -10vh;
  }
  50% {
    bottom: -17vh;
  }
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}